<apex:page >
<apex:form >

<apex:outputLink value="https://ap2.salesforce.com/006/o">
<apex:image url="https://c.ap2.visual.force.com/resource/1457090147000/oppt"/> 
</apex:outputLink>

<apex:outputLink value="https://ap2.salesforce.com/003/o">
<apex:image url="https://c.ap2.visual.force.com/resource/1457090117000/contact"/> 
</apex:outputLink>

<apex:outputLink value="https://ap2.salesforce.com/001/o">
<apex:image url="https://c.ap2.visual.force.com/resource/1457090071000/acnt"/> 
</apex:outputLink>

</apex:form>
</apex:page>