<apex:page standardController="Account" extensions="TestController" lightningStylesheets="true" sidebar="false">

<apex:form id="searchForm">
    <apex:PageBlock mode="edit">  
          
    <apex:pageblockSection id="searchBlockSection">    
        <apex:pageBlockSectionItem id="searchBlockSectionItem">
            <apex:outputLabel >Enter the range (in miles)</apex:outputLabel>
            
            <apex:panelGroup >
                <apex:inputtext id="searchTextBox" value="{!searchText}">                    
                </apex:inputtext> 
                               
                <strong>                
                <apex:commandButton Id="btnSearch" action="{!search}" rerender="renderBlock" status="status" title="Search" value="Search">
                </apex:commandButton>
                </strong>  
                                                 
            </apex:panelGroup>
            
        </apex:pageBlockSectionItem>
    </apex:pageblockSection>
    </apex:pageBlock>
    
    <apex:pageBlock >
    <apex:actionStatus id="status" startText="Searching... please wait..."/>        
    <apex:pageBlocksection id="renderBlock" >
        <strong><apex:pageblocktable value="{!SearchResults}" var="a" rendered="{!NOT(ISNULL(SearchResults))}">
            <apex:outputLink value="/{!a.Name}">{!a.Name}</apex:outputLink>
            <apex:column value="{!a.Name}"/>
            <apex:column value="{!a.BillingCity}"/>
            <apex:column value="{!a.BillingCountry}"/>
        </apex:pageblocktable></strong>        
        </apex:pageBlocksection>
</apex:pageBlock>
</apex:form>
</apex:page>